<!doctype html>
<html ng-app="AccidentalBotApp" ng-controller="AppController">
    <head>
        <title>Showbot</title>
        <script src="moment-2.6.0.min.js"></script>
        <script src="angular-1.2.18.min.js"></script>
        <script src="showbot.js"></script>
        <style>
            h1, h2 {
                font-family: Georgia, serif;
            }
            body {
                font-family: sans-serif;
                width: 40em;
                margin: auto;
            }
            table {
                width: 100%;
                text-align: left;
            }
            .message {
                font-size: 500%; text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>
            Showbot
        </h1>

        <div class="message" ng-show="status == 'connecting'">
            Connecting...
        </div>

        <div ng-show="status == 'connected' || titles.length">
            <h2>Titles</h2>
            <table class="titles">
                <thead>
                    <tr>
                        <th>Votes</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="title in titles | orderBy:titleScore:true" ng-show="titleScore(title) > 0">
                      <td>
                          <span class="votes">{{title.votes}}</span>&nbsp;<a
                              class="vote" href ng-click="voteFor(title, $event)"
                              ng-show="!title.voted && status == 'connected'"
                          >+1</a></td>
                      <td>{{title.title}}</td>
                      <td>{{title.author}}</td>

                      <td class="time">{{title.time | timeAgo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="status == 'connected' || links.length">
            <h2>Links</h2>
            <table class="links">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Author</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="link in links">
                        <td><a href="{{link.link}}" ng-click="handleLink(link, $event)">Link</a></td>
                        <td>{{link.author}}</td>
                        <td class="time">{{link.time | timeAgo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
